<% content_for :title, "submit your schedule!" %>

<%= form_for @schedule do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= error_messages_for @schedule, :name %>
  </p>
  <p>
    <%= f.label :grade %><br>
    <%= f.number_field :grade %>
    <%= error_messages_for @schedule, :grade %>
  </p>
  <p>
    <%= f.label :courses %><br>
    <p>course not listed? <%= link_to "add a course", new_course_path %></p>
    <%= f.collection_check_boxes :course_ids, @courses, :id, :title do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
    <%= error_messages_for @schedule, :courses %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>